@font-face {
    font-family: 'TT Lakes-Bold';
    src: url('../fonts/TTLakes-Bold.eot');
    src: local('TT Lakes-Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes-Medium';
    src: url('../fonts/TTLakes-Medium.eot');
    src: local('TT Lakes-Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes-Regular';
    src: url('../fonts/TTLakes-Regular.eot');
    src: local('TT Lakes-Regular'), local('TTLakes-Regular'),
        url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  *{
    padding: 0;
    margin: 0;
    border: 0;
}
html,body{
    height: 100%;
    width: 100%;
    line-height: 24px;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-style: normal;
    font-weight: normal;
    font-family: 'TT Lakes-Regular', Arial, sans-serif;
}
.container-flex {
    display: flex;
   }
.container-header, .container-main {
    max-width: 1120px;
    margin: 0 auto;
}
.menu-header{
    border-bottom: solid 1px  #D9FFF5;
    position:relative;
    width: 100%;
    height:88px;
    padding: 18.6px 16px;
    align-items: center;
    justify-content: space-between;
 }  
.left, .right{
    align-items: center;
}
.right{
    justify-content: flex-end;
   
    }
.link{
 display: inline-block;
text-decoration: none;    
}
.menu-header__link{
width: 40px;
height: 40px;
margin-right: 16px;
}
.right .menu-header__link:last-of-type{
    margin-right:0;    
}
.menu-header__divider{
    margin-right: 20px;
    
}
.menu-header__divider--xs-visial--none{
    display: none;   
}

.menu-header__link--xs-visial--none{
    display: none;
}
.services{
    width: 100%;
    background-color:#F8F8F8;
    padding-top: 24px;
    padding-bottom: 24px;
}
.hdr{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.ttl{
text-align: left;
}
.services__ttl{
    font-family: 'TT Lakes-Bold';
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;  
} 
.ttl__highlight{
    margin-right: 12px;      
}
.slide-menu{
    flex-wrap: nowrap;
    margin-bottom: 24px;
}
.wr{
    justify-content: space-between;
    margin-right:72px;
}

.menu-main__link{
    font-family: 'TT Lakes-Medium';
    letter-spacing: -0.2px;
    line-height: 40px;
    display: flex;
    vertical-align: middle;
    margin-right: 8px;
    margin-left: 72px;
    position: relative;
    color: #1B1C21;
}
.menu-main__link--xs-s-visible--none{
    display: none;
}
.menu-main__link::after{
    content: "";
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url(./img/repair.svg);
    position: absolute;
    top: 0;
    right: -48px;
}
.menu-main__link:last-of-type:after{
    background-image: url(./img/checkstatus.svg);
    margin-left: 32px;

}
.slide-menu__list{
    flex-wrap: nowrap;
    overflow-x: scroll;
    list-style: none; 
    margin-left: 16px;  
}

.slide-menu__item{
    display: inline-block;
    height: 40px;   
}
.button{ 
    white-space:nowrap
}
.slide-menu__button{
    line-height: 40px;
    font-weight: 500;
    letter-spacing: -0.2px;
    text-align: left;
    color: #7E7E82;
    padding:0 16px ;
}
.slide-menu__button--activ{
    border: 2px solid #B8FFEC;
    border-radius: 6px;
background-color: #FFFFFF;
}

.services-content__txt{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin: 0 16px 16px 16px;
    color: #1B1C21;
    
}
.services-content__txt--xs-l-visible--none{
    display: none;
}
.services-content__txt--xs-s-visible--none{
    display:none;
}
.services-content__txt--s-l-visible--none{
    display:block;
}

.summary__txt{
    line-height: 24px; 
    list-style: none;
    position: relative;
    margin-left: 32px;
    letter-spacing: -0.2px;
    font-family: 'TT Lakes-Medium';
    
}
.summary__txt~p{
    padding-top: 10px;
}
details{
    vertical-align: middle;   
}

summary::before{
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(./img/expand.svg);
    vertical-align: middle;
    position:absolute;
    top: 0;
    left: -32px;
}
.services-content__img{
    border: 2px solid #FFFFFF;
    text-align: center;
    margin:0 auto;
    display: block; 
    background-color: lightgray;
}

@media screen and (min-width:767.98px) and (max-width: 1120px){
.menu-header{ 
    padding: 18.6px 24px;
}  
.menu-header__link--xs-visial--none{
        display: block;
    }
.menu-header__divider--xs-visial--none{
    display: block;   
}
.services-content__txt--xs-s-visible--none{
    display: none;
}
.left .menu-header__link:first-of-type, .right .menu-header__link:nth-of-type(3){
    margin-right: 20px;
}
.services{
  padding-bottom: 40px;  
}
.hdr{
    margin-bottom: 32px;
}
.slide-menu {
    margin-bottom: 32px;  
}
.menu-main__link--xs-s-visible--none{
    display: none;
}
.slide-menu__list{
    margin-left: 24px;
   
}
.services-content{
display: flex;
}
.services-content__txt{
 margin: 0 0 20px 24px;
 line-height: 20px;
 
}
p.services-content__txt:nth-child(2){
    margin-bottom: 10px;

}
.services-content__txt--xs-l-visible--none{
    display:block;
}
.services-content__txt--xs-s-visible--none{
    display:none;
}
.services-content__txt--s-l-visible--none{
    display:none;
}
.services-content__img{
    width: 360px;
    height: 208px;
    margin-left: 48px;
    margin-right: 25px;
    border-radius: 6px;
    background: #F8F8F8;
    border: none;
}

.ttl__highlight{
    margin-right: 20px;
       
}
}
    

@media (min-width: 1120px){
    .slide-menu__list{
        margin-left: 32px;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .services-content__img{
        width: 531.35px;
        height: 307px;
        margin-left: 36px;
        margin-right: 28px;
        border-radius: 6px;
        border: none;
    }
    .container-header--l-visible--none{
        display: none;
    }
    
    
    .services{
        padding: 42px 0 49px 0;  
      }
      .wr{
        margin-bottom: 8px;
      }
      .hdr{
        margin-bottom: 0;  
    }
    .ttl__highlight{
        margin-right: 30px;  
    }
    .slide-menu {
        margin-bottom: 16px;
         
    } 
    .slide-menu__item{
        margin-bottom: 1px;  
    }
    .menu-main__link--xs-s-visible--none{
        display:block;
    }
    .services-content{
        display: flex;
        }
       .services-content__txt{
         margin: 0 0 20px 34px;
         line-height: 20px;
        }
        p.services-content__txt:nth-child(3){
            margin-bottom: 13.78px;
        
        }
        .services-content__txt--xs-l-visible--none{
            display: none;
        }
        .services-content__txt--xs-visible--none{
            display: block;
              
        }
        .services-content__txt--xs-s-visible--none{
            display:block;
        }
        .services-content__txt--s-l-visible--none{
            display:none;
        }
}
    