@font-face {
    font-family: 'TT Lakes-Bold';
    src: url('../fonts/TTLakes-Bold.eot');
    src: local('TT Lakes-Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes-Medium';
    src: url('../fonts/TTLakes-Medium.eot');
    src: local('TT Lakes-Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes-Regular';
    src: url('../fonts/TTLakes-Regular.eot');
    src: local('TT Lakes-Regular'), local('TTLakes-Regular'),
        url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  *{
    padding: 0;
    margin: 0;
    border: 0;
}
html,body{
    height: 100%;
    width: 100%;
    line-height: 24px;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-style: normal;
    font-weight: normal;
    font-family: 'TT Lakes-Regular', Arial, sans-serif;
}
.container-header, .container-main {
    max-width: 1120px;
    margin: 0 auto;
}
.menu{
  display: flex;
  justify-content: space-between;  
}
.menu-header{
    border-bottom: solid 1px  #D9FFF5;
    position:relative;
    width: 100%;
    height:88px;
    padding: 18.6px 16px;  
 } 
 .menu__left, .menu__right{
    display: flex;
    align-items: center;   
 } 
.link{
 display: inline-block;
text-decoration: none;    
}
.menu-header__divider{
    margin-right: 20px;   
}
.menu-header__divider--xs-visial--none{
    display: none;   
}
.button{
display: block;
background-color: transparent;
}
.menu-header__button{
    width: 40px;
    height: 40px;
    margin-right: 16px;
    text-align: center;
}
.menu__right .menu-header__button:last-of-type{
    margin-right:0;    
}
.menu-header__button--xs-visial--none{
    display: none;
}
.services{
    width: 100%;
    background-color:#F8F8F8;
    padding-top: 24px;
    padding-bottom: 24px;
}
.services-header{
    display: flex;
    align-items: center;
    margin-bottom: 24px; 
    justify-content: space-between;
}
.container-services-header-ttl{
    display: flex;
}
.services-header__ttl{
    font-family: 'TT Lakes-Bold';
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;  
} 
.services-header__ttl-highlight{
    margin-right: 12px;      
}
.services-header-menu__button{
    font-family: 'TT Lakes-Medium';
    letter-spacing: -0.2px;
    line-height: 40px;
    display: flex;
    margin-left: 32px;
    padding-right: 48px;
    color: #1B1C21;
    background-repeat: no-repeat;   
}
.services-header-menu__button:last-of-type{
margin-right: 32px;
}
.services-header-menu__button--bg-img--1{
    background-image: url(../img/repair.svg);
    background-position: top 0 left 111px;
}
.services-header-menu__button--bg-img--2{
    background-image: url(../img/checkstatus.svg);
    background-position: top 0 left 106px;
}
.services-header-menu__button--xs-s-visible--none{
    display: none;
}
.slide-menu{
    flex-wrap: nowrap;
    margin-bottom: 24px;
}
.slide-menu__list{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    list-style: none; 
    margin-left: 16px;  
}
.slide-menu__item{
    display: inline-block;
    height: 50px;   
}
.slide-menu__button{
    line-height: 40px;
    font-weight: 500;
    letter-spacing: -0.2px;
    text-align: left;
    color: #7E7E82;
    padding:0 16px;
    white-space: nowrap;
}
.slide-menu__button--activ{
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
}
.fade{
    width: 24px;
    height: 40px;
    background-image: url(../img/fade\ copy.png);
    background-position: top 0 left 0;
}
.services-content__txt{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin: 0 16px 16px 16px;
    color: #1B1C21;
}
.services-content__txt--xs-l-visible--none{
    display: none;
}
.services-content__txt--xs-s-visible--none{
    display:none;
}
.services-content__txt--s-l-visible--none{
    display:block;
}
.summary__txt{
    line-height: 24px; 
    list-style: none;
    position: relative;
    margin-left: 32px;
    letter-spacing: -0.2px;
    font-family: 'TT Lakes-Medium';
}
.summary__txt~p{
    padding-top: 10px;
}
details{
    vertical-align: middle;   
}
summary::before{
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(../img/expand.svg);
    vertical-align: middle;
    position:absolute;
    top: 0;
    left: -32px;
}
.img-wrap{
   width: 100%;
}
.services-content__img-block-1{
    border: 2px solid #FFFFFF;
    text-align: center;
    min-width: 320px;
    width: 100%;
    margin:0 auto;
    display: block; 
    background-color: lightgray;
    object-fit: contain;  
}

@media screen and (min-width:767.98px) and (max-width: 1120px){
.menu-header{ 
    padding: 18.6px 24px;
}  
.menu__left .menu-header__button:first-of-type, .menu__right .menu-header__button:nth-of-type(3){
margin-right: 20px;
}
.menu-header__divider--xs-visial--none{
    display: block;   
}
.menu-header__button--xs-visial--none{
    display: block;
}
.services{
  padding-bottom: 40px;  
}
.services-header{
    margin-bottom: 32px;
}
.container-services-header-ttl{
    margin-bottom: 0;
}
.services-header__ttl-highlight{
    margin-right: 20px;     
}
.slide-menu {
    margin-bottom: 32px;  
}
.services-header-menu__button--xs-s-visible--none{
    display: none;
}
.slide-menu__list{
    margin-left: 24px;  
}
.services-content{
display: flex;
justify-content: space-between;
}

.services-content__txt{
 margin: 0 0 20px 24px;
 line-height: 20px;
 
}
.services-content__txt--xs-s-visible--none{
    display: none;
}
p.services-content__txt:nth-child(2){
    margin-bottom: 10px;
}
.services-content__txt--xs-l-visible--none{
    display:block;
}
.services-content__txt--xs-s-visible--none{
    display:none;
}
.services-content__txt--s-l-visible--none{
    display:none;
}
.img-wrap{
    margin-left: 48px;
    margin-right: 25px;
    min-width: 360px;
}
.services-content__img-block-1{
    min-width: 360px;
    width: 100%;
    border-radius: 6px;
    background: #F8F8F8;
    border: none;
    object-fit: cover;
}
}
    
@media (min-width: 1120px){  
.container-header--l-visible--none{
    display: none;
}
       
.services{
    padding: 42px 0 49px 0;  
}
.services-header{
    margin-bottom: 8px;
}
.container-services-header-ttl{
    margin-bottom: 0;  
}
.services-header__ttl-highlight{
    margin-right: 30px;  
}
.services-header-menu__button--xs-s-visible--none{
    display:block;
}
.slide-menu {
    margin-bottom: 16px;     
} 
.slide-menu__list{
    margin-left: 32px;
    flex-wrap: wrap;
    overflow-x: hidden;   
}
.slide-menu__item{
    margin-bottom: 1px;  
}    
.services-content{
    display: flex;
}
.services-content__txt{
    margin: 0 0 20px 34px;
    line-height: 20px;
}
 p.services-content__txt:nth-child(3){
    margin-bottom: 13.78px;
}
.services-content__txt--xs-l-visible--none{
    display: none;
}
.services-content__txt--xs-visible--none{
    display: block;       
}
.services-content__txt--xs-s-visible--none{
    display:block;
}
.services-content__txt--s-l-visible--none{
    display:none;
}
.services-content__img-block-1{
    width: 531.35px;
    height: 307px;
    margin-left: 36px;
    margin-right: 28px;
    border-radius: 6px;
    border: none;
    background: #F8F8F8;
    object-fit: cover;
}
}
    